@media (max-width: 1360px) {
  .main-page__sell {
    bottom: 145px;
    height: 160px;
    background-size: cover;
    max-width: 270px;
    width: 100%;
    left: 0;
  }
  .main-page__gallery:after {
    right: 78px;
    bottom: -8px;
    height: 213px;
  }
  .main-page__title {
    font-size: 56px;
  }
  .information__footer-title {
    font-size: 26px;
  }
  .information__wrapper {
    max-width: 50%;
    padding-right: 30px;
  }
  .main-page__bg {
    top: 35px;
    max-width: 700px;
    width: 100%;
    background-size: cover;
    right: -160px;
    height: 640px;
  }
  .main-page__gallery::before {
    top: 155px;
    right: 30px;
    background-size: contain;
    background-repeat: no-repeat;
    width: 220px;
    height: 400px;
  }
  .pointer__item-2::before,
  .pointer__item-1::before {
    max-width: 600px;
    width: 100%;
    height: 560px;
  }
  .pointer__item-2::before {
    transform: translateY(-52%);
    right: -107px;
  }
  .pointer__item-1::before {
    transform: translateY(-33%);
    left: -83px;
  }
}

@media (max-width: 1326px) {
  .main-page__bg {
    right: -35px;
    margin-right: 0;
  }
  .main-page__sell {
    left: -55px;
  }
  .main-page__gallery::before {
    right: 50px;
  }
  .main-page__gallery:after {
    right: 62px;
  }
}
@media (max-width: 1282px) {
  .main-page__gallery::before {
    right: 0;
  }
  .main-page__gallery:after {
    right: 40px;
  }
}

@media (max-width: 1260px) {
  .main-page__gallery::before {
    right: 20px;
  }
  .main-page__bg {
    right: 0;
  }
  .main-page__sell {
    left: -89px;
  }
  .main-page__gallery:after {
    right: 34px;
  }
  .main-page__text {
    font-size: 17px;
  }
  .main-page__info-text {
    font-size: 24px;
  }
  .main-page__subtitle {
    font-size: 22px;
  }
  .partner {
    height: 275px;
  }
  .partner:nth-of-type(4n + 1) {
    border-left: none;
  }
  .partner:nth-of-type(3n + 1) {
    border-left: 1px solid #009fe3;
  }
  .partner {
    margin-right: 10px;
  }

  .partners__inner {
    justify-content: center;
  }
  .pointer__select {
    padding-top: 180px;
  }
  .pointer__select::before {
    width: 210px;
    height: 160px;
    background-size: cover;
    background-repeat: no-repeat;
    top: 10px;
    left: -30px;
  }
  .pointer {
    padding-top: 50px;
    min-height: 620px;
  }
  .pointer__item-2::before {
    right: -65px;
    transform: translateY(-40%);
  }
  .pointer__item-2::before,
  .pointer__item-1::before {
    max-width: 500px;
    height: 500px;
  }
  .pointer__item-1::before {
    transform: translateY(-25%);
    left: -75px;
  }
}

@media (max-width: 1220px) {
  .main-page__bg {
    max-width: 600px;
    height: 600px;
  }
  .main-page__gallery:after {
    right: 27px;
  }
}
@media (max-width: 1180px) {
  .main-page__gallery::before {
    top: 90px;
    right: 360px;
  }
  .main-page {
    height: auto;
    min-height: auto;
  }
  .main-page__info {
    display: block;
  }
  .main-page__info-text {
    max-width: 100%;
    margin-bottom: 20px;
    br {
      display: none;
    }
  }
  .main-page__gallery:after {
    display: none;
  }
  .main-page__sell {
    left: 101px;
    bottom: 190px;
  }
  .main-page__title {
    font-size: 52px;
    line-height: 60px;
  }
  .main-page__info-link {
    margin: 0 auto;
  }
  .main-page__bg {
    position: relative;
    top: 0;
    right: -200px;
    &::after {
      content: '';
      position: absolute;
      width: 116px;
      height: 213px;
      right: 73px;
      bottom: 44px;
      background-image: url('../images/color-bg.png');
    }
  }
  .main-page__inner {
    flex-direction: column;
  }
  .main-page__content {
    max-width: 100%;
  }
}

@media (max-width: 1160px) {
  .partner:nth-of-type(3n + 1) {
    border-left: none;
  }
  .partner:nth-of-type(2n + 1) {
    border-left: 1px solid #009fe3;
  }
  .partner {
    width: calc(100% / 3);
  }
  .advantage {
    padding-bottom: 55px;
  }
  .advantage__inner {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .advantage__item {
    margin-right: 10px;
    margin-bottom: 30px;
  }
  .header__title {
    font-size: 34px;
  }
  .pointer__item-2::before,
  .pointer__item-1::before {
    max-width: 450px;
    height: 460px;
  }
  .pointer__item-1::before {
    transform: translateY(-28%);
  }
  .pointer__item-2::before {
    transform: translateY(-50%);
  }
  .information__footer .information__footer-img img {
    max-width: 250px;
  }
  .information__footer .information__footer-img {
    max-width: 500px;
  }
  .main-page__gallery::before {
    right: 340px;
  }
}
@media (max-width: 1120px) {
  .main-page__gallery::before {
    right: 300px;
  }
}
@media (max-width: 1060px) {
  .main-page__gallery::before {
    right: 230px;
  }
  .information__menu {
    flex-wrap: wrap;
  }
  .information__wrapper {
    max-width: 100%;
    padding-right: 0;
  }
  .pointer__item-1::before {
    transform: translateY(-30%);
  }
  .pointer__item-2::before {
    transform: translateY(-54%);
  }
  .pointer__item-2::before,
  .pointer__item-1::before {
    max-width: 400px;
    height: 390px;
    background-size: cover;
  }
  .header__inner {
    height: 100px;
  }
  .header__title {
    font-size: 30px;
  }
  .header__logo {
    margin-left: 0;
  }
  .pointer__link {
    font-size: 17px;
    width: 225px;
  }
  .menu__list + .menu__list {
    margin-left: 40px;
  }
  .menu__list img {
    width: 60px;
    height: 45px;
  }
}
@media (max-width: 1000px) {
  .main-page__gallery::before {
    right: 175px;
  }
}
@media (max-width: 960px) {
  .main-page__gallery::before {
    right: 130px;
  }
  .pointer__select {
    display: flex;
    justify-content: space-evenly;
  }
  .pointer__item-1,
  .pointer__item-2 {
    padding-top: 300px;
    width: 45%;
  }
  .pointer__item-2::before,
  .pointer__item-1::before {
    max-width: 500px;
    height: 390px;
    background-size: contain;
  }
  .pointer__item-2::before {
    transform: translateY(-26%);
    right: -50px;
  }
  .pointer__item-1::before {
    transform: translateY(-24%);
    left: -15px;
  }
  .pointer__select {
    padding-top: 90px;
    margin-bottom: 50px;
  }
  .pointer__select::before {
    top: 250px;
    width: 183px;
    height: 140px;
  }
  .pointer__link::before {
    display: none;
  }
}
@media (max-width: 920px) {
  .main-page__gallery::before {
    right: 95px;
  }
  .partner {
    width: 50%;
    margin-right: 0;
  }
  .partners__inner {
    justify-content: space-evenly;
  }
  .information__footer .information__footer-inner {
    flex-direction: column;
    padding-top: 30px;
    height: 230px;
  }
  .information__footer-title {
    margin-bottom: 20px;
    max-width: 100%;
    text-align: center;
  }
  .footer.footer-main {
    padding: 90px 0 65px;
  }
  .header__inner {
    height: 70px;
  }
  .menu__list + .menu__list {
    margin-left: 30px;
  }
  .header__title {
    margin-left: 5px;
  }
  .header__logo-link img {
    height: 60px;
    width: 60px;
  }
  .menu__list img {
    width: 40px;
    height: 40px;
  }
  .footer {
    padding: 50px 0 30px;
  }
}
@media (max-width: 880px) {
  .main-page__gallery::before {
    right: 60px;
  }
}
@media (max-width: 840px) {
  .main-page__gallery::before {
    right: 10px;
  }
}
@media (max-width: 800px) {
  .main-page__gallery::before {
    right: -10px;
  }
}
@media (max-width: 770px) {
  .pointer {
    min-height: 570px;
  }
  .pointer__item-1,
  .pointer__item-2 {
    padding-top: 230px;
  }
  .pointer__select {
    padding-top: 65px;
  }
  .pointer__select::before {
    width: 131px;
    height: 100px;
    top: 215px;
    left: -10px;
  }
  .header__content {
    display: none;
  }
  .header__title {
    font-size: 27px;
  }
  .main-page__gallery::before {
    right: -30px;
  }
}
@media (max-width: 700px) {
  .main-page__gallery::before {
    right: 13px;
  }
  .main-page__content {
    text-align: center;
  }
  .main-page__bg {
    right: -70px;
  }
  .main-page__sell {
    left: -28px;
    bottom: 187px;
  }
  .pointer__link {
    font-size: 15px;
    width: 200px;
  }
  .footer__inner {
    flex-direction: column;
  }
  .footer__title {
    margin-bottom: 10px;
  }
  .pointer__item-1,
  .pointer__item-2 {
    width: 40%;
  }
  .pointer__item-2::before,
  .pointer__item-1::before {
    transform: translateY(-11%);
  }
  .pointer {
    padding-top: 0;
    min-height: 520px;
  }
}
@media (max-width: 650px) {
  .main-page__gallery::before {
    right: -36px;
  }
  .partner {
    width: 310px;
  }
  .partners__inner {
    flex-direction: column;
    align-items: center;
  }
  .partner,
  .partner:nth-of-type(3n + 1) {
    border-left: 1px solid #009fe3;
  }
}
@media (max-width: 600px) {
  .main-page__bg::after {
    right: 73px;
    height: 150px;
    bottom: 13px;
    width: 76px;
  }
  .main-page__gallery::before {
    height: 260px;
    right: -18px;
    top: 73px;
  }
  .main-page__sell {
    left: 27px;
    bottom: 100px;
    max-width: 220px;
    height: 130px;
  }
  .main-page__bg {
    height: 400px;
    right: -120px;
    max-width: 420px;
    top: 12px;
  }
  .main-page__title {
    font-size: 44px;
    line-height: 55px;
  }
  .pointer__item-1,
  .pointer__item-2 {
    width: 50%;
  }
}
@media (max-width: 520px) {
  .main-page__gallery::before {
    display: none;
  }
  .pointer__item-1,
  .pointer__item-2 {
    padding-top: 260px;
  }
  .main-page__title {
    font-size: 40px;
    line-height: 50px;
  }
  .main-page__info-text {
    font-size: 20px;
    line-height: 30px;
  }
  .main-page__text {
    font-size: 16px;
    line-height: 25px;
  }

  .information__footer .information__footer-img {
    max-width: 100%;
    justify-content: space-evenly;
    img {
      width: 200px;
    }
  }
  .pointer__select::before {
    top: 208px;
    width: 105px;
    height: 80px;
  }
  .pointer {
    min-height: 560px;
  }
  .pointer__select {
    padding-top: 25px;
  }
  .header__logo-link img {
    height: 50px;
    width: 50px;
  }
  .header__title {
    font-size: 23px;
  }
  .header__inner {
    height: 60px;
  }
  .pointer__link {
    display: inline-block;
  }
  .pointer__item-2 {
    text-align: end;
  }
  .pointer__item-2::before,
  .pointer__item-1::before {
    transform: translateY(-2%);
  }
  .footer__links a {
    margin-bottom: 5px;
    font-size: 14px;
    display: block;
  }
  .footer__links span {
    display: none;
  }
}

@media (max-width: 480px) {
  .pointer__item-2::before {
    right: -33px;
  }
  .main-page__subtitle {
    margin-top: 35px;
  }
  .main-page {
    padding-top: 25px;
  }
  .main-page__bg {
    right: -50px;
  }
  .main-page__sell {
    left: -20px;
    bottom: 110px;
    max-width: 200px;
    height: 115px;
  }

  .pointer {
    min-height: 510px;
  }
  .pointer__select::before {
    width: 85px;
    height: 60px;
    left: 0;
  }
  .pointer__select {
    padding-top: 0;
  }
  .pointer__item-2::before,
  .pointer__item-1::before {
    transform: translateY(8%);
  }
  .footer {
    padding: 20px 0 30px;
  }
  .header__title {
    font-size: 21px;
    text-align: center;
  }
  .pointer__link br {
    display: none;
  }
  .pointer__link {
    height: 60px;
    padding: 0 10px;
    width: 160px;
    display: flex;
    align-items: center;
  }
}
@media (max-width: 450px) {
  .main-page__bg::after {
    right: 34px;
    width: 118px;
  }
}
@media (max-width: 420px) {
  .main-page__bg::after {
    display: none;
  }
  .main-page__subtitle {
    font-size: 20px;
  }
  .main-page__title {
    font-size: 30px;
    line-height: 36px;
  }
  .main-page__sell {
    bottom: 105px;
    width: 100%;
    height: 80px;
    background-size: contain;
    background-repeat: no-repeat;
    left: 10px;
  }
  .main-page__bg {
    height: 350px;
  }
  .partner {
    width: 100%;
  }
  .footer.footer-main {
    padding: 30px 0;
  }
  .information__footer-title {
    font-size: 24px;
  }
  .information__footer .information__footer-inner {
    height: auto;
  }
  .information__footer .information__footer-img {
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  .pointer__select::before {
    top: 200px;
  }
  .pointer__item-2::before,
  .pointer__item-1::before {
    transform: translateY(12%);
  }
  .pointer__item-1,
  .pointer__item-2 {
    padding-top: 260px;
    width: 100%;
  }
}
@media (max-width: 370px) {
  .main-page__sell {
    left: -26px;
  }
  .main-page__bg {
    right: -10px;
  }
  .pointer {
    padding-bottom: 0;
    min-height: 470px;
  }
  .pointer__link {
    font-size: 13px;
    width: 145px;
  }
  .pointer .container {
    padding: 0 7px;
  }
  .pointer__item-2::before,
  .pointer__item-1::before {
    transform: translateY(8%);
  }
  .pointer__item-1::before {
    left: -7px;
  }
}
@media (max-width: 320px) {
  .pointer__select::before {
    top: 185px;
  }
}
